.massageSender {
	display: flex;
	margin-top: 30px;
	flex-direction: column;
	background-color: white;
	border-radius: 15px;
	width: 100%;
	box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
}

.massageSender_top {
	display: flex;
	border-bottom: 1px solid #eff2f5;
	padding: 15px;
}

.massageSender_top > form {
	display: flex;
	flex: 1;
}

.massageSender_top > form > input {
	background-color: #eff2f5;
	outline-width: 0;
	border: none;
	padding: 5px 20px;
	margin: 0 20px;
	border-radius: 999px;
}
.massageSender_fileSelector {
	width: 20%;
}

.massageSender_top > form > button {
	height: 0;
	width: 0;
	background-color: transparent;
	color: transparent;
	border: none;
}

.massageSender_input {
	flex: 1;
}

.massageSender_bottom {
	display: flex;
	justify-content: space-evenly;
}

.massageSender_option {
	padding: 20px;
	display: flex;
	align-items: center;
	color: gray;
	margin: 5px;
}

.massageSender_option > h3 {
	font-size: medium;
	margin-left: 10px;
}

.massageSender_option:hover {
	border-radius: 20px;
	background-color: #eff2f5;
}
